<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='../../styles/main.css' />
  </head>
  <header>
    <div class="container">
      <h1 class="title">make a sentence</h1>
      <h2 class="subtitle">use a random word from urban dictionary, and make your best sentence using that word...</h2>
    </div>
  </header>
  <body>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
