<h2>Your word is: <b>{{word}}</b></h2>
<p><b>Definition:</b> {{definition}}</p>
<h2>Now make some magic!</h2>
<form class="new_sentence" id="new_sentence" action="/sentences" accept-charset="UTF-8" method="post">

{{!--   <h2>Countdown Clock</h2> --}}
    <div class="timer">
      <h3>Timer</h3>
      <progress value="0" max="120" id="progressBar"></progress>
    </div>
  </div>
<p>
  <textarea placeholder="Your sentence" name="newSentence" id="newSent">
  </textarea><br><br>
  <input type="submit" class="button" name="commit" value="Create Sentence" />
</p>

</form>

<script>
  var timeleft = 120;
  var downloadTimer = setInterval(function(){
   document.getElementById("progressBar").value = 120 - --timeleft;
   if(timeleft <= 0)
     window.location = '/sentences/looser'
  },1000);
</script>
<a class="link" href="/">Cancel</a>
