<header>
  <h1> Make a Sentence</h1>
  <p> Make a sentence using some random slang from urban dictionary </p>
</header>
{{#each cats}}
 <a href="#">
 <div class ="sentence">
  <h1>My Sentence...</h1>
  <h2>{{word}}</h2>
   <p>{{sentence}}</p>
  </div>
</a>
 {{/each}}
