<h1>Make a sentence</h1>
<h2>Your word is: <b>{{word}}</b>, now make some magic!</h2>
<form class="new_sentence" id="new_sentence" action="/sentences" accept-charset="UTF-8" method="post">

<p>
  <textarea placeholder="Your sentence" name="life_story" id="cat_life_story">
  </textarea><br><br>
  <input type="submit" class="button" name="commit" value="Create Sentence" />
</p>

</form>

<a class="link" href="/">Cancel</a>
