* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  text-align: center;
  background-color: #1abc9c;
  color: white;
  padding: 50px;
  margin-bottom: 50px;
}

p, h1, h2, h3 {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 15px;
}

textarea {
  width: 70%;
  height: 70px;
  font-size: 20px;
}

.title {
  padding-bottom: 40px;
}

.sentencesBox {

}

.sentence {

}
